
@{
    ViewBag.Title = "ContactUs";
}
<h2>Contact us</h2>

<div>
    <p>
        <a href="tel:tel:+(61)433447591">+(61)433447591</a>, <a href="tel:tel:+(61)421678420">+(61)421678420</a>
    </p>
    <p>
        Suite 305
        <br/>
        100 Collins st
        <br/>
        Alexandria
        <br/>
        NSW 2015
        <br/>
        Australia
    </p>
</div>

