<div class="jumbotron">
    <h1>LeadIn Group | 领赢 </h1>
    @*<p class="lead">This site is under destruction.</p>*@
</div>
<div class="row">
    <div class="col-md-12">
        <p>
            <h3>Professional services tailored for you</h3>
        </p>
    </div>
</div>
