
@{
    ViewBag.Title = "Management";
}
<style>
    img {
        height: 25%;
        width: 25%;
    }

    td.photo {
        width: 30%;
    }

</style>
<h2>Management</h2>
<table class="table">
    <tr>
        @*<td class="photo">
            <img src="/Images/piggy.png"/>
        </td>*@
        <td>
            <strong>Sunny Lu</strong>
            <p>
                Director, CPA, Master of Professional Accounting, Tax Agent, ASIC Agent, Self Managed Super Fund Specialist
                <br/>
                10 years of experience
                <br />
            </p>            
        </td>
    </tr>
    <tr>
        @*<td class="photo">
            <img src="/Images/kermit.png"/>
        </td>*@
        <td>
            <strong>Angela Yao</strong>
            <p>
                Director, CA, Tax Agent, Migration Accounting Specialist
                <br />
                15 years of experience
                <br />
            </p>
        </td>
    </tr>
</table>

