<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT BlogPost ANY>
<!ATTLIST BlogPost id ID #REQUIRED>
<!ELEMENT BlogPostRepository ANY>
<!ATTLIST BlogPostRepository id ID #REQUIRED>
<!ELEMENT Home ANY>
<!ATTLIST Home id ID #REQUIRED>
<!ELEMENT LandingPage ANY>
<!ATTLIST LandingPage id ID #REQUIRED>
<!ELEMENT Test1 ANY>
<!ATTLIST Test1 id ID #REQUIRED>
<!ELEMENT TextPage ANY>
<!ATTLIST TextPage id ID #REQUIRED>

]>
<root id="-1">
  <Home id="1063" key="96a730e8-f4be-4676-b694-39d8e8bac388" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-01-16T13:24:34" updateDate="2016-01-26T15:57:16" nodeName="Home" urlName="home" path="-1,1063" isDoc="" nodeType="1060" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1056" nodeTypeAlias="Home">
    <siteDescription><![CDATA[LeadIn Group]]></siteDescription>
    <siteTitle><![CDATA[LeadIn Group]]></siteTitle>
    <siteLogo><![CDATA[/media/1042/tsadik.png]]></siteLogo>
    <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Banner",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "rte",
                "banner_headline",
                "banner_tagline"
              ],
              "config": {},
              "styles": {
                "margin-bottom": "60px"
              },
              "controls": [
                {
                  "value": "LeadIn Group | 领赢",
                  "editor": {
                    "alias": "banner_headline"
                  }
                },
                {
                  "value": "Professional services tailored for you",
                  "editor": {
                    "alias": "banner_tagline"
                  }
                }
              ]
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            },
            {
              "grid": 4,
              "allowAll": false,
              "allowed": [
                "rte",
                "media"
              ],
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1363/blue-background.jpg)"
          },
          "config": {
            "class": "dark"
          },
          "id": "d28a05da-2404-c1e7-6265-01b07fc5f722"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": []
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": []
            }
          ],
          "styles": {
            "background-image": "url(/media/1023/form-bg.png)"
          },
          "config": {
            "class": "light"
          },
          "id": "5362ea7d-e729-078b-e717-a1e7aa69fd4b"
        },
        {
          "name": "Full width image",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_wide_cropped",
                "media_wide"
              ],
              "controls": [
                {
                  "value": {
                    "focalPoint": {
                      "left": 0.5,
                      "top": 0.5
                    },
                    "id": 1119,
                    "image": "/media/1365/sydney-harbour-view.jpg"
                  },
                  "editor": {
                    "alias": "media_wide_cropped"
                  }
                }
              ]
            }
          ],
          "styles": {},
          "config": {
            "class": "full triangle"
          },
          "id": "953b3802-6b4f-20ed-66f9-9a855e9afdd4"
        },
        {
          "name": "Two column",
          "areas": [
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": []
            },
            {
              "grid": 6,
              "allowAll": false,
              "allowed": [
                "rte",
                "media",
                "media_round",
                "quote"
              ],
              "controls": []
            }
          ],
          "styles": {},
          "config": {
            "class": "purple"
          },
          "id": "29cac0ff-d8e9-605b-9e7b-6809dce55edd"
        }
      ]
    }
  ]
}]]></content>
    <LandingPage id="1089" key="8b5cce6f-0759-445a-9bdd-e28fee1ed734" parentID="1063" level="2" creatorID="0" sortOrder="0" createDate="2016-01-24T17:58:59" updateDate="2016-01-24T18:01:41" nodeName="Services" urlName="services" path="-1,1063,1089" isDoc="" nodeType="1061" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": []
    }
  ]
}]]></content>
      <TextPage id="1090" key="4b1328bc-4cb5-42ea-bb6d-c60eb1b26a63" parentID="1089" level="3" creatorID="0" sortOrder="0" createDate="2016-01-24T18:08:07" updateDate="2016-01-24T18:18:02" nodeName="Accounting" urlName="accounting" path="-1,1063,1089,1090" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article",
          "areas": [
            {
              "grid": 4,
              "controls": [
                {
                  "value": "Accounting",
                  "editor": {
                    "alias": "headline"
                  }
                }
              ]
            },
            {
              "grid": 8,
              "controls": []
            }
          ],
          "id": "dc0e8653-a634-c74c-9861-368221c842ef"
        },
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "<ul>\n<li><span>Maintenance of accounting books &amp; records</span></li>\n<li><span>Preparation – interim &amp; annual accounts</span></li>\n<li><span>Preparation – PAYG Payment Summaries</span></li>\n<li><span>Budgeting &amp; cash flow analysis</span></li>\n<li><span>Management reporting</span></li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "41302f09-bdcd-a906-78cb-97ba2f271680"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1091" key="01943d98-bdf2-469c-ac05-5a9e5beb1c12" parentID="1089" level="3" creatorID="0" sortOrder="1" createDate="2016-01-24T18:27:42" updateDate="2016-01-24T18:27:42" nodeName="Taxation" urlName="taxation" path="-1,1063,1089,1091" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Taxation",
                  "editor": {
                    "alias": "headline"
                  }
                }
              ]
            }
          ],
          "id": "a0906080-a32c-3f74-28bc-fa3d3f6a8064"
        },
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "<ul>\n<li>Income Tax Returns</li>\n<li>Tax Planning and Structuring</li>\n<li>GST, BAS, IAS, PAYG statements</li>\n<li>Capital Gains Tax</li>\n<li>Fringe Benefits Tax</li>\n<li>Land Tax</li>\n<li>Payroll Tax and Working Compensation</li>\n<li>Late and multiple year tax returns</li>\n<li>Tax office objections and appeals</li>\n<li>Dealing with ATO on behalf of clients</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "7df55ed6-669b-92b1-8a48-434b9245ca29"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1092" key="93de949c-6654-4449-8bfe-5ee2245c59b4" parentID="1089" level="3" creatorID="0" sortOrder="2" createDate="2016-01-24T18:31:24" updateDate="2016-01-24T21:21:12" nodeName="Corporate Secretarial Services" urlName="corporate-secretarial-services" path="-1,1063,1089,1092" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Corporate Secretarial Services",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>Maintenance – company statutory records</li>\n<li>Preparation and lodgement of ASIC forms</li>\n<li>Company searches</li>\n<li>Act as Registered Office</li>\n<li>Preparation of company minutes</li>\n<li>Advice on corporate affairs</li>\n<li>Company formation &amp; register business names</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "f86b22ef-a10a-f7e8-21fd-0cea91e69861"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1097" key="0088bc2d-3b6a-4d25-a3b1-9b4a68b9ec4f" parentID="1089" level="3" creatorID="0" sortOrder="3" createDate="2016-01-24T18:53:15" updateDate="2016-01-24T18:53:57" nodeName="Superannuation" urlName="superannuation" path="-1,1063,1089,1097" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "controls": [
                {
                  "value": "Superannuation",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>Fund establishment</li>\n<li>Fund administration</li>\n<li>Preparation - annual accounts and tax returns</li>\n<li>Liaison with fund auditors</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "22ce85bc-e85b-dde4-efe4-a903b3492ddd"
        },
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": []
            }
          ],
          "id": "bd60e0e3-e7a3-57e8-756a-87bb94a7af19"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1098" key="fa2a5f92-d602-4ae7-bc2a-c0b73164f179" parentID="1089" level="3" creatorID="0" sortOrder="4" createDate="2016-01-24T18:57:41" updateDate="2016-01-24T21:22:11" nodeName="Property investment" urlName="property-investment" path="-1,1063,1089,1098" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Property investment",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>Audit and review of current situation</li>\n<li>Advice on best structure to hold investment properties and proposed transactions</li>\n<li>Advice on all eligible tax deductions for rental properties</li>\n<li>Land tax issues</li>\n<li>Capital gain tax issues</li>\n<li>Main residence exemptions</li>\n<li>Analysis cash flow and profitability of property investments</li>\n<li>Preparation of tax returns and financial statements required by the authorities</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "b8913784-257f-e5d8-dd20-02fb26b0c072"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1099" key="8d801d0b-8b4f-4206-b770-c09c3f59a5c6" parentID="1089" level="3" creatorID="0" sortOrder="5" createDate="2016-01-24T19:04:14" updateDate="2016-01-24T21:23:05" nodeName="Start ups" urlName="start-ups" path="-1,1063,1089,1099" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Start ups",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>Advice on setting up business structure</li>\n<li>Advice on financial management and tax planning</li>\n<li>Advice on setting up business structure</li>\n<li>Purchase and mergers of businesses</li>\n<li>Business valuations</li>\n<li>Assistance with business plans</li>\n<li>Business advice, planning and mentoring</li>\n<li>Staff recruitment, structuring packages and termination</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "264d8b30-f929-6be8-123c-5b7822946cc2"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1100" key="1ee46fec-f103-4c8b-a9e8-2ca7eacb6287" parentID="1089" level="3" creatorID="0" sortOrder="6" createDate="2016-01-24T19:06:28" updateDate="2016-01-24T19:06:28" nodeName="Mortgage Broking" urlName="mortgage-broking" path="-1,1063,1089,1100" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Mortgage Broking",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>First home buyer</li>\n<li>Investment loan</li>\n<li>Foreign investors</li>\n<li>Refinance</li>\n<li>SMSF Borrowing</li>\n<li>Loan structuring</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "f9ea7b49-341f-013d-448d-02ed22b2954a"
        },
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": []
            }
          ],
          "id": "e8c93230-f0ab-3948-8f26-f616e8d58d39"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1101" key="c09a9607-7620-4a27-b008-6d269950ccfb" parentID="1089" level="3" creatorID="0" sortOrder="7" createDate="2016-01-24T19:09:43" updateDate="2016-01-24T21:24:21" nodeName="Business Advisory" urlName="business-advisory" path="-1,1063,1089,1101" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Business Advisory",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>Advice on setting up business structure</li>\n<li>Advice on financial management </li>\n<li>Tax planning</li>\n<li>Meeting statutory obligations</li>\n<li>Reporting and minute keeping service</li>\n<li>Purchase and mergers</li>\n<li>Valuations</li>\n<li>Sale of businesses</li>\n<li>Litigation support</li>\n<li>Assistance with business plans</li>\n<li>Business advice, planning and mentoring</li>\n<li>Succession planning</li>\n<li>Estate planning</li>\n<li>Staff recruitment, structuring packages and termination</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "5112ca1a-0979-5f98-a5eb-a74631b92183"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
      <TextPage id="1103" key="398474dd-8a42-483e-a7a5-86530fd4b487" parentID="1089" level="3" creatorID="0" sortOrder="8" createDate="2016-01-24T19:15:23" updateDate="2016-01-24T19:15:23" nodeName="Migration accounting" urlName="migration-accounting" path="-1,1063,1089,1103" isDoc="" nodeType="1062" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="TextPage">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Migration accounting",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<ul>\n<li>Advice on Australian business environment and tax law</li>\n<li>\n<p>Business strategies for business migration clients</p>\n</li>\n<li>\n<p>Preparation -special purpose reports for business migration</p>\n</li>\n<li>\n<p>Liaison with migration lawyers or agents</p>\n</li>\n<li>\n<p>Advice on business structure after PR granted</p>\n</li>\n</ul>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "66aab3dd-d334-29d3-e4c5-36272db25d62"
        }
      ]
    }
  ]
}]]></content>
      </TextPage>
    </LandingPage>
    <LandingPage id="1102" key="f9021b41-edaf-4fdf-877e-7f56d40dd05b" parentID="1063" level="2" creatorID="0" sortOrder="1" createDate="2016-01-24T19:11:03" updateDate="2016-01-26T16:05:04" nodeName="About us" urlName="about-us" path="-1,1063,1102" isDoc="" nodeType="1061" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1057" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "About us",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<p>We are professional, proactive and passionate accountants and business advisers based in Sydney, Australia.</p>\n<p> </p>\n<p>We take forward thinking approach, we believe in technical expertise, open communication and</p>\n<p>high efficiency. We love challenges!</p>\n<p> </p>\n<p>With a combined experience of more than 80 years both in Australia and China, we are your trusted</p>\n<p>partners to excel together.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "60cb5189-997f-c500-d03a-8b1e342ddf9c"
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
    <BlogPostRepository id="1075" key="6e69cd7e-0918-4bee-9ac4-96ea6b881ce7" parentID="1063" level="2" creatorID="0" sortOrder="2" createDate="2016-01-16T13:24:34" updateDate="2016-01-24T19:11:24" nodeName="Blog" urlName="blog" path="-1,1063,1075" isDoc="" nodeType="1059" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1054" nodeTypeAlias="BlogPostRepository">
      <umbracoNaviHide>1</umbracoNaviHide>
      <BlogPost id="1106" key="8b46e105-015e-4a08-8f40-63598efa4941" parentID="1075" level="3" creatorID="0" sortOrder="1" createDate="2016-01-24T20:57:36" updateDate="2016-01-24T20:59:17" nodeName="LeadIn Group" urlName="leadin-group" path="-1,1063,1075,1106" isDoc="" nodeType="1058" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1055" nodeTypeAlias="BlogPost">
        <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article full width",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "media_text_right",
                "headline",
                "abstract",
                "paragraph",
                "quote",
                "media",
                "code",
                "rte",
                "embed",
                "headline_centered"
              ],
              "controls": [
                {
                  "value": "<p>LeadIn Group is a private company established in 2015 based in Sydney CBD specializing in accounting, taxation, mortgage and property investment.</p>\n<p>Please do not hesitate to contact us to let us provide best service possible.</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "496262ee-aa74-110f-9d57-6a13f1734e98"
        }
      ]
    }
  ]
}]]></content>
        <introduction><![CDATA[About LeadIn.]]></introduction>
      </BlogPost>
    </BlogPostRepository>
    <LandingPage id="1096" key="42e97385-5163-421e-a26c-730d48fe4569" parentID="1063" level="2" creatorID="0" sortOrder="3" createDate="2016-01-24T18:50:40" updateDate="2016-01-26T11:07:04" nodeName="Contact" urlName="contact" path="-1,1063,1096" isDoc="" nodeType="1061" creatorName="Dmitry" writerName="Dmitry" writerID="0" template="1117" nodeTypeAlias="LandingPage">
      <umbracoNaviHide>0</umbracoNaviHide>
      <content><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Article Wide",
          "areas": [
            {
              "grid": 12,
              "allowAll": false,
              "allowed": [
                "headline",
                "abstract",
                "code",
                "quote",
                "embed",
                "media",
                "media_text_right",
                "rte",
                "paragraph"
              ],
              "controls": [
                {
                  "value": "Contact",
                  "editor": {
                    "alias": "headline"
                  }
                },
                {
                  "value": "<p>Please use the form below to post your message</p>",
                  "editor": {
                    "alias": "rte"
                  }
                }
              ]
            }
          ],
          "id": "a7056736-4b27-1127-1d6f-046ae9a5841c"
        }
      ]
    }
  ]
}]]></content>
    </LandingPage>
  </Home>
</root>